
.idea/vcs.xml
__pycache__/folderdataentry.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/taxbot.cpython-310.pyc
__pycache__/automation.cpython-310.pyc
__pycache__/automation.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/tbot.cpython-310.pyc
__pycache__/automation.cpython-310.pyc
__pycache__/settings.cpython-310.pyc
__pycache__/automation.cpython-310.pyc
__pycache__/automation.cpython-310.pyc
taxbotfiles/__pycache__/tbot.cpython-310.pyc
taxbotfiles/__pycache__/taxbot.cpython-310.pyc
